
  <section class="pt20 pb0">
    <% 12.times do %>
    <div class="col-sm-4 text-center p0">
        <div class="image-tile hover-tile text-center mb0">
            <img alt="image" class="background-image" src="https://images.unsplash.com/photo-1437652633673-cc02b9c67a1b?dpr=2&auto=compress,format&fit=crop&w=1199&h=800&q=80&cs=tinysrgb&crop=">
            <div class="hover-state">
                <a href="#">
                    <h3 class="uppercase mb8">Commercial</h3>
                    <h6 class="uppercase">See Collection</h6>
                </a>
            </div>
        </div>
        <!--end of hover tile-->
    </div>
    <% end %>
  </section>
