<section class="image-bg bg-dark parallax overlay pt120 pb120">
    <div class="background-image-holder fadeIn" style="transform: translate3d(0px, 395px, 0px); background: url(&quot;https://images.unsplash.com/photo-1416359658663-73a3834895eb?dpr=2&auto=compress,format&fit=crop&w=1199&h=803&q=80&cs=tinysrgb&crop="&quot;); top: -55px;">
        <img alt="Background Image" class="background-image" src="https://images.unsplash.com/photo-1416359658663-73a3834895eb?dpr=2&auto=compress,format&fit=crop&w=1199&h=803&q=80&cs=tinysrgb&crop=" style="display: none;">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2 class="uppercase mb8">黑 + 白</h2>
                <p class="lead mb40">对比，光影，力量，层次，永远不灭的摄影主题</p>
                <a class="btn btn-lg btn-white mb0" href="#">上传图片到这个项目</a>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>

<section class="image-bg bg-dark parallax overlay pt120 pb120">
    <div class="background-image-holder fadeIn" style="transform: translate3d(0px, 195px, 0px); background: url(&quot;undefined&quot;); top: -55px;">
       <!--  <img alt="Background Image" class="background-image" src="https://images.unsplash.com/photo-1416359658663-73a3834895eb?dpr=2&auto=compress,format&fit=crop&w=1199&h=803&q=80&cs=tinysrgb&crop=" style="display: none;"> -->
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2 class="uppercase mb8">黑 + 白</h2>
                <p class="lead mb40">对比，光影，力量，层次，永远不灭的摄影主题</p>
                <a class="btn btn-lg btn-white mb0" href="#">上传图片到这个项目</a>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>

<section class="image-bg bg-dark parallax overlay pt120 pb120">
    <div class="background-image-holder fadeIn" style="transform: translate3d(0px, 195px, 0px); background: url(&quot;undefined&quot;); top: -55px;">
       <!--  <img alt="Background Image" class="background-image" src="https://images.unsplash.com/photo-1416359658663-73a3834895eb?dpr=2&auto=compress,format&fit=crop&w=1199&h=803&q=80&cs=tinysrgb&crop=" style="display: none;"> -->
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2 class="uppercase mb8">黑 + 白</h2>
                <p class="lead mb40">对比，光影，力量，层次，永远不灭的摄影主题</p>
                <a class="btn btn-lg btn-white mb0" href="#">上传图片到这个项目</a>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>


<section>
  <div class="container">
    <div class="col-md-8 col-sm-10 col-sm-offset-1 col-md-offset-2">
      <div class="horizontal-tile">
          <div class="tile-left">
              <a href="#">
                  <div class="background-image-holder fadeIn" style="background: url(&quot;https://images.unsplash.com/photo-1470198002244-184c9f5da03f?dpr=2&amp;auto=compress,format&amp;fit=crop&amp;w=1199&amp;h=800&amp;q=80&amp;cs=tinysrgb&amp;crop=&quot;);">
                      <img alt="image" class="background-image" src="https://images.unsplash.com/photo-1470198002244-184c9f5da03f?dpr=2&amp;auto=compress,format&amp;fit=crop&amp;w=1199&amp;h=800&amp;q=80&amp;cs=tinysrgb&amp;crop=" style="display: none;">
                  </div>
              </a>
          </div>
          <div class="tile-right bg-secondary">
              <div class="description">
                  <h4 class="mb8">黑 + 白</h4>
                  <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut .
                  </p>
                  <a class="btn btn-filled" href="#">Explore</a>
              </div>
          </div>
      </div>
      <!--end of horizontal tile-->
    </div>
    <div class="col-md-8 col-sm-10 col-sm-offset-1 col-md-offset-2">
      <div class="horizontal-tile">
          <div class="tile-left">
              <a href="#">
                  <div class="background-image-holder fadeIn" style="background: url(&quot;https://images.unsplash.com/photo-1470198002244-184c9f5da03f?dpr=2&amp;auto=compress,format&amp;fit=crop&amp;w=1199&amp;h=800&amp;q=80&amp;cs=tinysrgb&amp;crop=&quot;);">
                      <img alt="image" class="background-image" src="https://images.unsplash.com/photo-1470198002244-184c9f5da03f?dpr=2&amp;auto=compress,format&amp;fit=crop&amp;w=1199&amp;h=800&amp;q=80&amp;cs=tinysrgb&amp;crop=" style="display: none;">
                  </div>
              </a>
          </div>
          <div class="tile-right bg-secondary">
              <div class="description">
                  <h4 class="mb8">黑 + 白</h4>
                  <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut .
                  </p>
                  <a class="btn btn-filled" href="#">Explore</a>
              </div>
          </div>
      </div>
      <!--end of horizontal tile-->
    </div>
    <div class="col-md-8 col-sm-10 col-sm-offset-1 col-md-offset-2">
      <div class="horizontal-tile">
          <div class="tile-left">
              <a href="#">
                  <div class="background-image-holder fadeIn" style="background: url(&quot;https://images.unsplash.com/photo-1470198002244-184c9f5da03f?dpr=2&amp;auto=compress,format&amp;fit=crop&amp;w=1199&amp;h=800&amp;q=80&amp;cs=tinysrgb&amp;crop=&quot;);">
                      <img alt="image" class="background-image" src="https://images.unsplash.com/photo-1470198002244-184c9f5da03f?dpr=2&amp;auto=compress,format&amp;fit=crop&amp;w=1199&amp;h=800&amp;q=80&amp;cs=tinysrgb&amp;crop=" style="display: none;">
                  </div>
              </a>
          </div>
          <div class="tile-right bg-secondary">
              <div class="description">
                  <h4 class="mb8">黑 + 白</h4>
                  <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut .
                  </p>
                  <a class="btn btn-filled" href="#">Explore</a>
              </div>
          </div>
      </div>
      <!--end of horizontal tile-->
    </div>
    <div class="col-md-8 col-sm-10 col-sm-offset-1 col-md-offset-2">
      <div class="horizontal-tile">
          <div class="tile-left">
              <a href="#">
                  <div class="background-image-holder fadeIn" style="background: url(&quot;https://images.unsplash.com/photo-1470198002244-184c9f5da03f?dpr=2&amp;auto=compress,format&amp;fit=crop&amp;w=1199&amp;h=800&amp;q=80&amp;cs=tinysrgb&amp;crop=&quot;);">
                      <img alt="image" class="background-image" src="https://images.unsplash.com/photo-1470198002244-184c9f5da03f?dpr=2&amp;auto=compress,format&amp;fit=crop&amp;w=1199&amp;h=800&amp;q=80&amp;cs=tinysrgb&amp;crop=" style="display: none;">
                  </div>
              </a>
          </div>
          <div class="tile-right bg-secondary">
              <div class="description">
                  <h4 class="mb8">黑 + 白</h4>
                  <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut .
                  </p>
                  <a class="btn btn-filled" href="#">Explore</a>
              </div>
          </div>
      </div>
      <!--end of horizontal tile-->
    </div>
    <div class="col-md-8 col-sm-10 col-sm-offset-1 col-md-offset-2">
      <div class="horizontal-tile">
          <div class="tile-left">
              <a href="#">
                  <div class="background-image-holder fadeIn" style="background: url(&quot;https://images.unsplash.com/photo-1470198002244-184c9f5da03f?dpr=2&amp;auto=compress,format&amp;fit=crop&amp;w=1199&amp;h=800&amp;q=80&amp;cs=tinysrgb&amp;crop=&quot;);">
                      <img alt="image" class="background-image" src="https://images.unsplash.com/photo-1470198002244-184c9f5da03f?dpr=2&amp;auto=compress,format&amp;fit=crop&amp;w=1199&amp;h=800&amp;q=80&amp;cs=tinysrgb&amp;crop=" style="display: none;">
                  </div>
              </a>
          </div>
          <div class="tile-right bg-secondary">
              <div class="description">
                  <h4 class="mb8">黑 + 白</h4>
                  <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut .
                  </p>
                  <a class="btn btn-filled" href="#">Explore</a>
              </div>
          </div>
      </div>
      <!--end of horizontal tile-->
    </div>
  </div>
</section>