<section class="image-bg bg-dark parallax overlay pt120 pb120">
    <div class="background-image-holder fadeIn" style="transform: translate3d(0px, 195px, 0px); ">
       <!--  <img alt="Background Image" class="background-image" src="https://images.unsplash.com/photo-1416359658663-73a3834895eb?dpr=2&auto=compress,format&fit=crop&w=1199&h=803&q=80&cs=tinysrgb&crop=" style="display: none;"> -->
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2 class="uppercase mb8">黑 + 白</h2>
                <p class="lead mb40">对比，光影，力量，层次，永远不灭的摄影主题</p>
                <a class="btn btn-lg btn-white mb0" href="#">上传图片到这个项目</a>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>

<section class="projects pt48">
    <div class="container">
        <div class="row pb24">
        </div>
        <!--end of row-->
        <div class="row masonry-loader fadeOut">
            <div class="col-sm-12 text-center">
                <div class="spinner"></div>
            </div>
        </div>
        <div class="row masonry masonryFlyIn fadeIn" style="position: relative; height: 840px;">
            <div class="col-md-4 col-sm-6 masonry-item project fadeIn" data-filter="People" style="position: absolute; left: 0px; top: 0px;">
                <div class="image-tile inner-title hover-reveal text-center">
                    <a href="#">
                        <img alt="Pic" src="https://images.unsplash.com/photo-1430740537271-3448563a1a7e">
                        <div class="title">
                            <h5 class="uppercase mb0">Happy Couple</h5>
                            <span>People / Life</span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 masonry-item project fadeIn" data-filter="Animals" style="position: absolute; left: 390px; top: 0px;">
                <div class="image-tile inner-title hover-reveal text-center">
                    <a href="#">
                        <img alt="Pic" src="https://images.unsplash.com/35/hKViPxgDRGuiGns6wv5S_IMG_5317.jpeg">
                        <div class="title">
                            <h5 class="uppercase mb0">Lonely Dog</h5>
                            <span>Animals / Art</span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 masonry-item project fadeIn" data-filter="People" style="position: absolute; left: 780px; top: 0px;">
                <div class="image-tile inner-title hover-reveal text-center">
                    <a href="#">
                        <img alt="Pic" src="https://images.unsplash.com/photo-1423594311262-b7f1da6c200f?dpr=2&auto=compress,format&fit=crop&w=1199&h=1799&q=80&cs=tinysrgb&crop=">
                        <div class="title">
                            <h5 class="uppercase mb0">Pondering Blonde</h5>
                            <span>People / Life</span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 masonry-item project fadeIn" data-filter="Objects" style="position: absolute; left: 390px; top: 270px;">
                <div class="image-tile inner-title hover-reveal text-center">
                    <a href="#">
                        <img alt="Pic" src="https://images.unsplash.com/photo-1423594311262-b7f1da6c200f?dpr=2&auto=compress,format&fit=crop&w=1199&h=1799&q=80&cs=tinysrgb&crop=">
                        <div class="title">
                            <h5 class="uppercase mb0">Vintage Typewriter</h5>
                            <span>Objects / Isolated</span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 masonry-item project fadeIn" data-filter="Objects" style="position: absolute; left: 0px; top: 570px;">
                <div class="image-tile inner-title hover-reveal text-center">
                    <a href="#">
                        <img alt="Pic" src="https://images.unsplash.com/photo-1470198002244-184c9f5da03f?dpr=2&auto=compress,format&fit=crop&w=1199&h=800&q=80&cs=tinysrgb&crop=">
                        <div class="title">
                            <h5 class="uppercase mb0">Summer Lovin'</h5>
                            <span>Objects / Food</span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 masonry-item project fadeIn" data-filter="People" style="position: absolute; left: 780px; top: 570px;">
                <div class="image-tile inner-title hover-reveal text-center">
                    <a href="#">
                        <img alt="Pic" src="https://images.unsplash.com/photo-1454551533015-abee234e9ef4?dpr=2&auto=compress,format&fit=crop&w=1199&h=1797&q=80&cs=tinysrgb&crop=">
                        <div class="title">
                            <h5 class="uppercase mb0">Thick Fog</h5>
                            <span>People / Life</span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 masonry-item project fadeIn" data-filter="People" style="position: absolute; left: 780px; top: 570px;">
                <div class="image-tile inner-title hover-reveal text-center">
                    <a href="#">
                        <img alt="Pic" src="https://images.unsplash.com/photo-1469833120660-1a218b53d28a?dpr=2&auto=compress,format&fit=crop&w=1199&h=1799&q=80&cs=tinysrgb&crop=">
                        <div class="title">
                            <h5 class="uppercase mb0">Thick Fog</h5>
                            <span>People / Life</span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 masonry-item project fadeIn" data-filter="People" style="position: absolute; left: 780px; top: 570px;">
                <div class="image-tile inner-title hover-reveal text-center">
                    <a href="#">
                        <img alt="Pic" src="https://images.unsplash.com/photo-1456410854380-ebaf3eb821f5?dpr=2&auto=compress,format&fit=crop&w=1199&h=1599&q=80&cs=tinysrgb&crop=">
                        <div class="title">
                            <h5 class="uppercase mb0">Thick Fog</h5>
                            <span>People / Life</span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 masonry-item project fadeIn" data-filter="People" style="position: absolute; left: 780px; top: 570px;">
                <div class="image-tile inner-title hover-reveal text-center">
                    <a href="#">
                        <img alt="Pic" src="https://images.unsplash.com/photo-1469797252382-a0b593704dd3?dpr=2&auto=compress,format&fit=crop&w=1199&h=678&q=80&cs=tinysrgb&crop=">
                        <div class="title">
                            <h5 class="uppercase mb0">Thick Fog</h5>
                            <span>People / Life</span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 masonry-item project fadeIn" data-filter="People" style="position: absolute; left: 780px; top: 570px;">
                <div class="image-tile inner-title hover-reveal text-center">
                    <a href="#">
                        <img alt="Pic" src="https://images.unsplash.com/photo-1449445576221-bca7f735d4f8?dpr=2&auto=compress,format&fit=crop&w=1199&h=1799&q=80&cs=tinysrgb&crop=">
                        <div class="title">
                            <h5 class="uppercase mb0">Thick Fog</h5>
                            <span>People / Life</span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 masonry-item project fadeIn" data-filter="People" style="position: absolute; left: 780px; top: 570px;">
                <div class="image-tile inner-title hover-reveal text-center">
                    <a href="#">
                        <img alt="Pic" src="https://images.unsplash.com/photo-1458304845538-c91e2a89b605?dpr=2&auto=compress,format&fit=crop&w=1199&h=827&q=80&cs=tinysrgb&crop=">
                        <div class="title">
                            <h5 class="uppercase mb0">Thick Fog</h5>
                            <span>People / Life</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>