<section class="cover fullscreen image-bg overlay" style="height: 541px;">
  <div class="background-image-holder fadeIn" style="background: url(&quot;img/home2.jpg&quot;);">
      <img alt="image" class="background-image" src="img/home2.jpg" style="display: none;">
  </div>
  <div class="container v-align-transform">
      <div class="row">
          <div class="col-sm-6 col-sm-offset-3">
              <div class="feature bordered text-center">
                  <h4 class="uppercase">创建新帐号</h4>
                  <form class="text-left">
                      <input type="text" name="name" placeholder="用户名">
                      <input type="text" name="email" placeholder="Email地址">
                      <input type="password" placeholder="密码">
                      <input type="password" placeholder="确认密码">
                      <input type="submit" value="注册">
                  </form>
                  <p class="mb0">点击注册, 表示您同意我们的
                      <a href="#">使用条款</a>
                  </p>
              </div>
          </div>
      </div>
      <!--end of row-->
  </div>
  <!--end of container-->
</section>