<section class="kenburns cover fullscreen image-slider slider-arrow-controls controls-inside">
  <ul class="slides">
      <li class="image-bg pt-xs-240 pb-xs-240" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;">
          <div class="background-image-holder fadeIn" style="background:url(https://images.unsplash.com/photo-1466495227171-d05d7e3ac2b3">
              <img alt="image" class="background-image" src="https://images.unsplash.com/photo-1466495227171-d05d7e3ac2b3" style="display: none;" draggable="false">
          </div>
          <div class="align-bottom">
              <div class="row">
                  <div class="col-sm-12">
                      <hr class="mb24">
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-3 col-sm-6 col-xs-12 text-center-xs mb-xs-24">
                      <h4 class="uppercase mb0 bold">Ben Kurns</h4>
                      <span>Landscape Photographer</span>
                  </div>
                  <div class="col-md-4 hidden-sm hidden-xs">
                      <p>
                          To photograph is to hold one's breath, when all faculties converge to capture fleeting reality. It's at that precise moment that mastering an image becomes a great physical and intellectual joy.
                      </p>
                  </div>
                  <div class="col-md-5 col-sm-6 col-xs-12 text-right text-center-xs">
                      <a class="btn btn btn-white mt16" href="#">Contact Me</a>
                  </div>
              </div>
              <!--end of row-->
          </div>
          <!--end of container-->
      </li>
  </ul>
  <ul class="flex-direction-nav">
      <li>
        <a class="flex-prev" href="#">Previous</a>
      </li>
      <li>
        <a class="flex-next" href="#">Next</a>
      </li>
  </ul>
</section>

