<section>
  <!-- Information -->
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
        <h2 class="uppercase mb16">上传照片</h2>

        <p class="lead">
          我们将会在24小时内审核你上传的照片，如果照片通过审核我们将会恢复你的照片上传数量。上传的照片将会通过<a href="#" target="_blank">知识共享组织(Creative Commons) 的公共财产CC0协议</a>向公众免费分享。
        </p>
        <p class="lead">
          请确定上传的照片的版权属于你。
        </p>
        <p class="lead">
          本月你还能够上传<span class="upload-credit">10</span>张图片。
        </p>
      </div>
    </div>
  </div>
  <!-- Uploader -->
  <div class="container">
    <div class="form">
      <div class="pannel panel-default">
        <div class="panel-body">
          <form class="simple_form dropzone dz-clickable" novalidate="novalidate" id="new_picture" action="/pictures" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓">
            <input type="hidden" name="authenticity_token" value="9q2OzpHPK8z0Ed5AtfQSUWeETWlPWp4s4NARSUw6YobqTggY/p86xgWvE1kkjGYNrjDavFzpJe6gIf4BX/9pkQ==">
            <div class="dz-default dz-message">
              <span>点击或拖拽上传<br>(请上传带有EXIF信息的JPG格式)</span>
            </div>
          </form>
        </div>
      </div>
    </div>
   </div>
  <!-- upload container -->
  <div class="container">
    <% 4.times do %>
    <div class="col-sm-3 upload-container">
      <img src="http://placehold.it/300x200" />
    </div>
    <% end %>
  </div>
  <!--end of container-->
</section>

<!-- uploade FAQ -->
<section class="pt0">
  <div class="container">
      <h5 class="uppercase mb40">关于上传照片的常见问题</h5>
      <ul class="accordion accordion-1">
          <li>
              <div class="title">
                  <span>关于上传图片的总体要求</span>
              </div>
              <div class="content">
                  <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                  </p>
              </div>
          </li>
          <li class="">
              <div class="title">
                  <span>为什么最多只能上传10张照片</span>
              </div>
              <div class="content">
                  <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                  </p>
              </div>
          </li>
          <li class="">
              <div class="title">
                  <span>支持什么格式?</span>
              </div>
              <div class="content">
                  <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                  </p>
              </div>
          </li>
          <li>
              <div class="title">
                  <span>我应该上传多大分辨率的图片?</span>
              </div>
              <div class="content">
                  <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                  </p>
              </div>
          </li>
          <li>
              <div class="title">
                  <span>图片可以加水印吗?</span>
              </div>
              <div class="content">
                  <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                  </p>
              </div>
          </li>
          <li>
              <div class="title">
                  <span>是否支持外链?</span>
              </div>
              <div class="content">
                  <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                  </p>
              </div>
          </li>
      </ul>
      <!--end of accordion-->
  </div>
</section>