<section>
    <div class="container">
        <div class="row mb80 mb-xs-40">
            <div class="col-sm-12">
                <div class="pull-left">
                    <img class="inline-block image-small" alt="Pic" src="http://placehold.it/100x100">
                </div>
                <div class="inline-block p32 p0-xs mb-xs-24">
                    <h3 class="uppercase mb8">Mayer Rafferty</h3>
                    <h5 class="uppercase">Art Director</h5>
                </div>
            </div>
        </div>
        <!--end of row-->
        <div class="row">
            <div class="col-md-9 col-sm-10">
                <p class="lead fade-half">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse.
                </p>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>

<section class="projects pt48">
    <div class="container">
        <div class="row pb24">
            <div class="col-sm-12 text-center">
                <ul class="filters mb0"><li data-filter="all" class="active">All</li><li data-filter="People">People</li><li data-filter="Animals">Animals</li><li data-filter="Objects">Objects</li></ul>
            </div>
        </div>
        <!--end of row-->
        <div class="row masonry-loader fadeOut">
            <div class="col-sm-12 text-center">
                <div class="spinner"></div>
            </div>
        </div>
        <div class="row masonry masonryFlyIn fadeIn" style="position: relative; height: 840px;">
            <div class="col-md-4 col-sm-6 masonry-item project fadeIn" data-filter="People" style="position: absolute; left: 0px; top: 0px;">
                <div class="image-tile inner-title hover-reveal text-center">
                    <a href="#">
                        <img alt="Pic" src="https://images.unsplash.com/photo-1465823290694-4cd9b2248419?dpr=2&auto=compress,format&fit=crop&w=1199&h=799&q=80&cs=tinysrgb&crop=">
                        <div class="title">
                            <h5 class="uppercase mb0">Happy Couple</h5>
                            <span>People / Life</span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 masonry-item project fadeIn" data-filter="Animals" style="position: absolute; left: 390px; top: 0px;">
                <div class="image-tile inner-title hover-reveal text-center">
                    <a href="#">
                        <img alt="Pic" src="https://images.unsplash.com/photo-1466495227171-d05d7e3ac2b3?dpr=2&auto=compress,format&fit=crop&w=1199&h=749&q=80&cs=tinysrgb&crop=">
                        <div class="title">
                            <h5 class="uppercase mb0">Lonely Dog</h5>
                            <span>Animals / Art</span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 masonry-item project fadeIn" data-filter="People" style="position: absolute; left: 780px; top: 0px;">
                <div class="image-tile inner-title hover-reveal text-center">
                    <a href="#">
                        <img alt="Pic" src="https://images.unsplash.com/photo-1469386846711-1df926ac1129?dpr=2&auto=compress,format&fit=crop&w=1199&h=799&q=80&cs=tinysrgb&crop=">
                        <div class="title">
                            <h5 class="uppercase mb0">Pondering Blonde</h5>
                            <span>People / Life</span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 masonry-item project fadeIn" data-filter="Objects" style="position: absolute; left: 390px; top: 270px;">
                <div class="image-tile inner-title hover-reveal text-center">
                    <a href="#">
                        <img alt="Pic" src="https://images.unsplash.com/photo-1470218091926-22a08a325802?dpr=2&auto=compress,format&fit=crop&w=1199&h=673&q=80&cs=tinysrgb&crop=">
                        <div class="title">
                            <h5 class="uppercase mb0">Vintage Typewriter</h5>
                            <span>Objects / Isolated</span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 masonry-item project fadeIn" data-filter="Objects" style="position: absolute; left: 0px; top: 570px;">
                <div class="image-tile inner-title hover-reveal text-center">
                    <a href="#">
                        <img alt="Pic" src="https://images.unsplash.com/photo-1473175494278-d83ed8459089?dpr=2&auto=compress,format&fit=crop&w=1199&h=800&q=80&cs=tinysrgb&crop=">
                        <div class="title">
                            <h5 class="uppercase mb0">Summer Lovin'</h5>
                            <span>Objects / Food</span>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 masonry-item project fadeIn" data-filter="People" style="position: absolute; left: 780px; top: 570px;">
                <div class="image-tile inner-title hover-reveal text-center">
                    <a href="#">
                        <img alt="Pic" src="https://images.unsplash.com/photo-1477240381028-271008c7415c?dpr=2&auto=compress,format&fit=crop&w=1199&h=800&q=80&cs=tinysrgb&crop=">
                        <div class="title">
                            <h5 class="uppercase mb0">Thick Fog</h5>
                            <span>People / Life</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>