@import "bootstrap-sprockets";

@import "bootswatch/simplex/variables";

@import "bootstrap";

@import "bootswatch/simplex/bootswatch";

@import "font-awesome-sprockets";
@import "font-awesome";

@import "jquery-ui";
@import "dropzone/dropzone";
@import "alertify";
@import "alertify/default";
@import "alertify/bootstrap";

@import "pictures_upload";
@import "devise";

body {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  background-color: #fff
}

.flash {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 1002;
}

.avatar-image {
  border-radius: 50%
}

