.login-form {
  margin-top: 10px;
  .header {
    .logo {
      font-size: 80px;
    }
    margin-bottom: 36px;
  }
  .form {
    .form-actions {
      margin-top: 30px;
    }
    .terms {
      font-size: 14px;
      margin: 24px 0
    }
  }
}
label.password {
  a {
    font-size: 13px;
  }
}

.center-block {
  float: none !important;
}
