<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">分享照片</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">精选 <span class="sr-only">(current)</span></a></li>
        <li><a href="#">最新</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">... <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">相册</a></li>
            <li><a href="#">标签</a></li>
            <li><a href="#">API</a></li>
            <li class="divider"></li>
            <li><a href="#">常见问题</a></li>
            <li class="divider"></li>
            <li><a href="#">关于我们</a></li>
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="关键字">
        </div>
        <button type="submit" class="btn btn-default">搜索</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <% if current_user %>
            <%= link_to current_user.username, "#" %>
          <% else %>
            <%= link_to "注册", new_user_registration_path %>
          <% end %>
        </li>
        <li>
          <% if current_user %>
            <%= link_to "退出", destroy_user_session_path, method: :delete %>
          <% else %>
            <%= link_to "登录", new_user_session_path %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</nav>
