<div class="nav-container">
  <nav>
    <div class="nav-bar">
      <div class="module left">
        <a href="/">
          <%= image_tag 'logo-lumiphoto.png', alt: 'Lumiphoto',class: 'logo logo-light'  %>
          <%= image_tag 'logo-lumiphoto.png', alt: 'Lumiphoto',class: 'logo logo-dark'  %>
        </a>
      </div>
      <div class="module widget-handle mobile-toggle right visible-sm visible-xs">
        <i class="ti-menu"></i>
      </div>
      <div class="module-group right">
        <div class="module left">
          <ul class="menu">
            <li>
              <a href="/pages/index">首页&nbsp;</a>
            </li>
            <li>
              <a href="/pages/latest">最新</a>
            </li>
            <li>
              <a href="/pages/collections">特辑</a>
            </li>
            <li class="has-dropdown">
              <a href="#">项目</a>
              <ul>
                <li>
                  <a href="/pages/single-project.html">黑+白</a>
                </li>
                <li>
                  <a href="#">回忆与窗</a>
                </li>
                <li>
                  <a href="#">爱与生活</a>
                </li>
                <li>
                  <a href="#">脚下的路&nbsp;</a>
                </li>
              </ul>
            </li>
            <li class="has-dropdown">
              <a href="#">更多</a>
              <ul>
                <li>
                  <a href="/pages/project.html">常见问题</a>
                </li>
                <li>
                  <a href="#">关于我们</a>
                </li>
                <li>
                  <a href="#">加入我们</a>
                </li>
                <li>
                  <a href="#">团队博客</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="module widget-handle search-widget-handle left">
          <div class="search">
            <i class="fa fa-search"></i>
            <span class="title">搜索</span>
          </div>
          <div class="function">
            <form class="search-form">
              <input type="text" placeholder="搜索">
            </form>
          </div>
        </div>
        <div class="module widget-handle language left">
          <ul class="menu">
            <li class="has-dropdown">
              <%= link_to '成为会员 ', new_user_registration_path %>
              <ul>
                <li>
                  <%= link_to '已有账号登录', new_user_session_path %>
                </li>
                <li>
                  <a href="register.html">创建新帐号</a>
                </li>
                <li>
                  <a href="#">会员须知&nbsp;</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</div>
